# nand2tetris test files #
##########################
*.zip
*.out
*.dat

# nand2tetris demo folders #
############################
00/
demo/
tools/

# nand2tetris assembled files #
###############################
*.hack